@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";


body {
	font-size: 16px;
	color: #000;
	background-color: #34afaa;
}
#test {
	font-size: 3em;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.5;
	padding: 2em 3em;
	color: #fff;
	text-transform: uppercase;
	.inverted{
		color: #18252b;
	}
	.awesome {
		text-decoration: underline;
	}
}