body {
	color: red;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: 700;
	font-style: italic;
	line-height: 2;
}
body {
	background-image: url('https://images4.alphacoders.com/878/8788.png');
	background-color: blue;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;

}