<form class=form id="test_form" action="#" method="post">
  <legend class="form__title">Заголовок формы</legend>

	<!-- Text Field -->
	<div class="form__group">
		<label class="form__label" for="fieldText">Text</label>
		<input class="form__control"
					 type="text"
					 name="text"
					 id="fieldText"
					 placeholder="Text field"
					 pattern="[A-Za-z]{3, 190}"
					 minlength="3"
					 maxlength="190"
					 required>
	</div>
	<!-- !Text Field -->

	<!-- Email Field -->
	<div class="form__group">
		<label class="form__label" for="fieldEmail">E-mail</label>
		<input class="form__control"
					 type="email"
					 name="email"
					 id="fieldEmail"
					 placeholder="youremail@mail.com"
					 pattern="(?!test@test\.com$)[a-z0-9._%+-]{3,}@[a-z]{3,}\.[a-z]{2,}(?:\.[a-z]{2,})?"
					 maxlength="190"
					 required>
	</div>
	<!-- !Email Field -->

	<!-- Number Field -->
	<div class="form__group">
		<label class="form__label" for="fieldNumber">Number</label>
		<input class="form__control"
					 type="number"
					 name="number"
					 id="fieldNumber"
					 placeholder="999"
					 step="1"
					 min="0"
					 max="999"
					 maxlength="190"
					 required>
	</div>
	<!-- !Number Field -->

	<!-- Standart Select Field -->
	<div class="form__group">
		<fieldset>
			<label class="form__label" for="fieldSelect">Standart Select</label>
			<select class="form__control"
							name="select"
							id="fieldSelect"
							required>
				<option value="" selected disabled>Select field</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</fieldset>
	</div>
	<!-- !Standart Field -->

	<!-- Range field -->
	<div class="form__group">
		<label class="form__label" for="fieldRange">Range</label>
		<input class="form__control"
						type="range"
						name="range"
						id="fieldRange"
						step="1"
						min="0"
						max="100">
	</div>
	<!-- !Range field -->

	<!-- File field -->
	<div class="form__group">
		<label class="form__label" for="fieldRange">File</label>
		<input type="file"
					 id="fieldFile"
					 required>
	</div>
	<!-- !File field -->

	<!-- Phone Field -->
	<div class="form__group">
		<label class="form__label" for="fieldPhone">Phone</label>
		<input class="form__control"
						type="tel"
						name="phone"
						id="fieldPhone"
						placeholder="phone number"
						maxlength="190"
						required>
	</div>
	<!-- !Phone Field -->

	<!-- Standart Radio Fields -->
	<div class="form__group">
		<fieldset>
			<legend>Standart Radio</legend>
			<label class="form__label" for="fieldRadio1">Radio 1</label>
			<input class="form__control"
						 type="radio"
						 name="radio"
						 id="fieldRadio1"
						 value="radio1"
						 required>
			<label class="form__label" for="fieldRadio2">Radio 2</label>
			<input class="form__control"
						 type="radio"
						 name="radio"
						 id="fieldRadio2"
						 value="radio2"
						 required>
		</fieldset>
	</div>
	<!-- !Standart Radio Fields -->

	<!-- Standart Checkbox Fields -->
	<div class="form__group">
		<fieldset>
			<legend>Standart Checkbox</legend>
			<label class="form__label" for="fieldCheckbox1">Checkbox 1</label>
			<input class="form__control"
						 type="checkbox"
						 name="checkbox1"
						 id="fieldCheckbox1"
						 required>
			<label class="form__label" for="fieldCheckbox2">Checkbox 2</label>
			<input class="form__control"
						 type="checkbox"
						 name="checkbox2"
						 id="fieldCheckbox2"
						 required>
		</fieldset>
	</div>
	<!-- !Standart Checkbox Fields -->

	<!-- Textarea Field -->
	<div class="form__group">
		<label class="form__label" for="fieldTextarea">Textarea</label>
		<textarea class="form__control"
							id="fieldTextarea"
							rows="3"
							required></textarea>
	</div>
	<!-- !Textarea Field -->

	<!-- Agreement Field-->
	<div class="form__group">
		<input class="form__control"
					 type="checkbox"
					 name="agree"
					 id="agreeCheck"
					 required>
		<label class="form__label" for="agreeCheck">Agree to terms and conditions</label>
</div>
	<!-- !Agreement Field-->

	<!-- Submit button -->
	<div class="form__group">
		<button class="btn btn-primary" type="submit">Submit form</button>
	</div>
	<!-- !Submit button -->

</form>